if artists
  each artist in artists
    .list-group-item.dropdown(data-artist='{"id": "#{artist.artist}"}')
      span #{artist.artist}
        a.btn.btn-default.pull-right(data-toggle="dropdown")
          span.caret.pull-right
        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
          li(role="presentation")
            a(data-player-role="play", data-player-artist="#{artist.artist}", href="#", role="menuitem", tabindex="-1") Play
          li(role="presentation")
            a(data-player-role="add", data-player-artist="#{artist.artist}", href="#", role="menuitem", tabindex="-1") Add