@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("../fonts/OpenSans/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/OpenSans/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
.ng-cloak {
  display: none !important;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
button {
  padding: 4px 6px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  transition: background-color 0.1s ease-in-out;
  color: whitesmoke;
}
button:not([disabled]):hover {
  background-color: rgba(0, 0, 0, 0.26);
}
button[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}
button:active, button.active {
  background: #239bd6 !important;
}
button.tab {
  height: 33px;
}
noscript > div {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 10%;
}
noscript > div > span {
  display: inline-block;
  padding: 10px;
  background: #FFDD9F;
  border: 1px solid orange;
}
noscript a {
  color: #168DFF;
}
input[type=text] {
  padding: 0.3125em;
  border: none;
  border-bottom: 1px solid #2196f3;
  background-color: inherit;
  transition: border-color 0.3s;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  border-bottom-color: rgba(255, 255, 255, 0.12);
}
input[type=text]:focus {
  padding-bottom: 0.25em;
  border-bottom: 2px rgba(255, 255, 255, 0.6);
}
header {
  height: 82px;
  box-sizing: border-box;
  color: white;
}
header .player {
  height: 48px;
  box-sizing: border-box;
  display: flex;
  background-color: #222222;
  border-color: #121212;
}
header .player .control {
  height: 38px;
  width: 48px;
  text-align: center;
  padding-top: 10px;
  transition: color 0.2s;
  text-decoration: none;
}
header .player .control .fa {
  transition: text-shadow 0.2s;
}
header .player .control:hover {
  color: #239bd6;
}
header .player .control:hover .fa {
  text-shadow: 0 0 3px #239bd6;
}
header .player .control.loop > span {
  font-weight: 800;
}
header .player .control.active,
header .player .control:active {
  color: #1c7baa;
}
header .player .control.active .fa,
header .player .control:active .fa {
  text-shadow: 0 0 3px #239bd6;
}
header .player .panel {
  height: 48px;
  flex: 1;
}
header .player .panel > .info-panel {
  width: 100%;
  height: 20px;
  display: flex;
}
header .player .panel > .info-panel .name {
  flex: 1;
  text-align: center;
  padding: 2px 0;
}
header .player .panel > .info-panel .name .album,
header .player .panel > .info-panel .name .artist {
  font-size: 11px;
  color: #aaa;
}
header .player .panel > .info-panel .name .album:before,
header .player .panel > .info-panel .name .artist:before {
  content: " - ";
}
header .player .panel > .info-panel .elapsed-time,
header .player .panel > .info-panel .total-time {
  padding: 2px 4px;
}
header .slider {
  height: 12px;
  position: relative;
  background: none repeat scroll 0% 0% #F2F1F1;
  margin: 3px;
  border: 1px solid #DFDFDF;
  box-shadow: 0px 0px 2px #D5D4D4 inset;
}
header .slider .loading {
  position: absolute;
  left: 0;
  top: 0;
  height: 12px;
  background-color: #ccc;
  z-index: 0;
}
header .slider .progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 12px;
  background-color: #239bd6;
  z-index: 1;
}
header .slider input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 12px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
header .toolbar {
  height: 34px;
  box-sizing: border-box;
  padding: 3px 5px 0 5px;
  background-color: #555555;
  border-color: #121212;
}
header .toolbar .search,
header .toolbar .volume {
  display: inline-block;
}
header .toolbar .search {
  margin-right: 10px;
  width: 472px;
  transition: margin 0.4s ease-in-out;
}
header .toolbar .search.hide {
  margin-left: -482px;
}
header .toolbar .search .filters {
  margin-left: 10px;
  top: 5px;
  position: relative;
}
header .toolbar .search .filters input {
  display: none;
}
header .toolbar .search .filters label {
  cursor: pointer;
}
header .toolbar .search .filters .checkbox {
  border-radius: 0.1em;
  border: 0.15em solid #999;
  cursor: pointer;
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-left: 6px;
  margin-top: 0px;
  visibility: visible;
  background: none repeat scroll 0% 0% transparent;
  transition: all 0.2s ease 0s;
  position: relative;
  box-shadow: 0px 0px 0px transparent;
  color: #239bd6;
}
header .toolbar .search .filters label.checkbox:before {
  content: "";
  margin-left: -0.15em;
  margin-top: -0.15em;
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% + 0.3em);
  height: calc(100% + 0.3em);
  border-radius: 0.1em;
  transition: transform 0.2s ease 0s, #000 0.1s ease 0s;
  transition: all 0.2s ease 0s;
  transform: scale(0.1);
}
header .toolbar .search .filters input[type="checkbox"]:checked + label.checkbox:before {
  background-color: currentcolor;
  opacity: 1;
  transform: none;
}
header .toolbar .search .filters label.checkbox:after {
  content: " ";
  border-style: solid;
  border-width: 0px 0px 0.15em 0.15em;
  border-color: transparent;
  cursor: pointer;
  height: 0.4em;
  left: 50%;
  margin-left: -0.4em;
  margin-top: -0.4em;
  position: absolute;
  top: 50%;
  width: 0.7em;
  transform: rotate(-45deg);
  color: #4CAF50;
  transition: all 0.2s ease 0s;
}
header .toolbar .search .filters input[type="checkbox"]:checked + label.checkbox:after {
  border-color: rgba(255, 255, 255, 0.87);
}
header .toolbar .search .filters .off {
  opacity: 0.5;
}
header .toolbar .search .filters .off:hover {
  opacity: 0.8;
}
header .toolbar .leftseparated {
  padding-top: 4px;
  padding-left: 6px;
  border-left: 1px solid #999;
  height: 24px;
}
header .toolbar .search, header .toolbar .special-actions {
  float: left;
}
header .toolbar .special-actions {
  margin-right: 1px;
  position: relative;
  width: auto;
}
header .toolbar .special-actions button {
  margin: -2px 0 2px 0;
}
header .toolbar .volume {
  float: right;
  padding-top: 4px;
  padding-left: 6px;
  display: flex;
}
header .toolbar .volume .slider {
  width: 100px;
}
header .toolbar .volume .fa {
  padding: 3px;
  width: 18px;
}
header .toolbar .select-source {
  float: right;
  display: flex;
}
header .toolbar .select-source label {
  margin-top: 4px;
  margin-right: 2px;
  display: none;
}
header .toolbar .select-source:hover label {
  display: inline;
}
header .toolbar .select-source select {
  font-family: inherit;
  background-color: #555555;
  width: 100%;
  padding: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}
header .toolbar .select-source select:focus {
  outline: none;
}
#search {
  width: 200px;
}
main {
  background-color: #ffffff;
  display: flex;
  flex: 1;
  position: absolute;
  top: 82px;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 10px;
}
main .container {
  flex: 1;
  overflow: auto;
  background-color: #f5f5f5;
  line-height: 17px;
}
main .container .artist {
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
}
main .container .noresult {
  margin: 10px;
}
main .container .artist > h3,
main .container .album > h4 {
  display: inline-block;
  text-shadow: 0 0 5px white, 1px 1px 2px #666;
  cursor: pointer;
  margin: 5px 0;
}

main .container .artist > h3 > i {
  width: 1em;
  text-align: center;
  margin-right: 3px;
}
main .container .album > h4 {
  max-width: 400px;
  white-space: normal;
}
main .container .album > h4 .year {
  font-weight: normal;
  font-size: 0.8em;
  color: #666;
  text-shadow: none;
  margin-left: 4px;
}
main .container .artist > h3:hover,
main .container .album > h4:hover {
  text-shadow: 0 0 5px white, 1px 1px 2px #222;
}
main .container .artist > h3:hover > i,
main .container .album > h4:hover > i {
  text-shadow: 1px 1px 2px #222;
}
main .container .artist > .controls,
main .container .album > .controls {
  display: inline-block;
  cursor: pointer;
  margin-left: -30px;
  opacity: 0;
  white-space: nowrap;
  transition: margin-left 0.3s ease-in, opacity 0.3s cubic-bezier(0, 0.9, 0.3, 1.15);
}
main .container .artist > .controls .control,
main .container .album > .controls .control {
  display: inline-block;
  padding-left: 10px;
}
main .container .artist:hover > .controls,
main .container .album:hover > .controls {
  transition: margin-left 0.3s ease-out, opacity 0.3s cubic-bezier(0.7, 0, 0.7, 0);
  margin-left: 0;
  opacity: 1;
}
main .container .albums {
  display: flex;
  flex-wrap: wrap;
  background-color: #ddd;
  align-items: stretch;
}
main .container .albums .album {
  width: auto;
  max-width: 600px;
  padding: 10px;
  background-color: #f5f5f5;
  margin: 10px 10px;
  border: 2px solid #f5f5f5;
  transition: border 0.3s;
  box-sizing: border-box;
  flex: 1 0 auto;
}
main .container .albums .album.hidetracks {
  width: auto;
}
main .container .albums .album:hover {
  border: 2px solid #cfcfcf;
}
main .container .albums .album .album-container {
  display: flex;
}
main .container .albums .album img {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  max-height: 140px;
  cursor: pointer;
}
main .container .albums .album .album-container .tracks {
  flex: 1;
  width: auto;
  padding: 0 10px;
}
main .container .albums .album.hidetracks .album-container .tracks {
  display: none;
}
main .queue {
  height: 100%;
}
main .queue .handle {
  width: 10px;
  cursor: pointer;
  height: 100%;
  float: left;
  display: flex;
  background-color: #555555;
  transition: background-color 0.3s;

  color: white;
}
main .queue .handle:hover {
  background-color: #888888;
}
main .queue .handle .fa {
  margin: auto;
  transition: transform 0.3s;
}
main .queue.show .handle .fa {
  transform: rotate(180deg);
}
main .queue .tracks {
  display: inline-block;
  width: 300px;
  margin-right: -300px;
  transition: margin-right 0.3s;
  height: 100%;
  line-height: 17px;
  overflow: auto;
}
main .queue.show .tracks {
  margin-right: 0;
}
.track {
  margin: 1px 2px;
  display: flex;
  cursor: default;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-right: 4px;
}
.track .trackno {
  font-weight: bold;
  margin-right: 5px;
  text-align: right;
  display: inline-block;
  width: 20px;
  background: #C9E2EE;
  color: #239bd6;
  padding: 1px 3px 0 0;
  transition: padding 0.3s;
  position: relative;
}
.track .trackno > span {
  position: absolute;
  display: inline-block;
  width: 20px;
  top: 2px;
  right: 3px;
  text-align: right;
}
.track:hover .trackno {
  padding-right: 6px;
}
.track .controls {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  width: 47px;
  margin-left: 10px;
  opacity: 0;
}
.track .controls .control {
  display: inline-block;
  height: 100%;
  float: left;
  width: 22px;
  text-align: center;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-collapse: collapse;
  padding: 2px 0;
}
.track .controls .control:nth-child(2) {
  margin:-1px 0 0 -1px;
  padding: 3px 0 2px 0;
}
.controls .control {
  text-shadow: -1px 0 #808080, 0 1px #808080, 1px 0 #808080, 0 -1px #808080;
  color: whitesmoke;
}
.controls .control:hover {
  text-shadow: -1px 0 #239bd6, 0 1px #239bd6, 1px 0 #239bd6, 0 -1px #239bd6;
  color: #239bd6;
}
.track .name {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.track .duration {
  min-width: 36px;
  text-align: right;
}
.track .name, .track .duration {
  padding: 2px 1px;
}
.track:hover .controls {
  opacity: 1;
}
.track.active .name {
  font-weight: bold;
}
.track.failed {
  color: red;
  opacity: 0.6;
}
.track.failed:before {
  content: "\f071";
  font-family: FontAwesome;
  padding-right: 3px;
  padding-top: 1px;
  color: red;
}
/* Spinner */
.spinner {
  width: 120px;
  text-align: center;
  font-size: 10px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 50px);
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
}
.spinner > div {
  background-color: #239bd6;
  height: 100%;
  width: 16px;
  margin: 2px;
  display: inline-block;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  animation-delay: -1.1s;
}
.spinner .rect3 {
  animation-delay: -1s;
}
.spinner .rect4 {
  animation-delay: -0.9s;
}
.spinner .rect5 {
  animation-delay: -0.8s;
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.5);
  }
  20% {
    transform: scaleY(1);
  }
}
@keyframes playing1 {
  0% {
    transform: scaleY(0.2);
  }
  50% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(0.2);
  }
}
@keyframes playing2 {
  0% {
    transform: scaleY(0.4);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.4);
  }
}
.ui-effects-transfer {
  border: 1px dotted #666;
  background: #ddd;
  opacity: 0.4;
}
.track .audioeffect {
  display: none;
}
.track.active .audioeffect {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}
.track.active .audioeffect li {
  display: block;
  width: 20%;
  height: 100%;
  background: #239bd6;
  margin: 0;
  padding: 0;
  transform-origin: left bottom;
  float: left;
  pointer-events: none;
  animation-play-state: paused !important;
}
.track.active .trackno > span {
  text-shadow: -1px 0 #239bd6, 0 1px #239bd6, 1px 0 #239bd6, 0 -1px #239bd6;
  color: whitesmoke;
}
.track.playing .audioeffect li {
  animation-play-state: running !important;
}
.track.active .audioeffect li:nth-child(0) {
  animation: playing1 1s ease infinite 0;
}
.track.active .audioeffect li:nth-child(1) {
  animation: playing2 0.9s ease infinite 0.1s;
}
.track.active .audioeffect li:nth-child(2) {
  animation: playing1 1.1s ease infinite 0.2s;
}
.track.active .audioeffect li:nth-child(3) {
  animation: playing2 1s ease infinite 0.3s;
}
.track.active .audioeffect li:nth-child(4) {
  animation: playing1 1.1s ease infinite 0.4s;
}
.track.active .audioeffect li:nth-child(5) {
  animation: playing2 0.9s ease infinite 0.5s;
}
.track:nth-child(even) {
  background: #ebebeb;
}
.track:hover .name {
  font-weight: bold;
}