## Global
DEBUG = False

## Template
TITLE = 'Festival'

## Database
SQLALCHEMY_DATABASE_URI = 'sqlite:///data/festival.db'
# SQLALCHEMY_DATABASE_URI = 'mysql+mysqlconnector://festival:festival@localhost/festival?charset=utf8'

## APIs
LASTFM_API_KEY = 'd9ba5638b0b058105af31af8c6a4b252'

## Scanner
SCANNER_PATH = '/path/to/music'
SCANNER_EXTS = ['.mp3','.ogg','.opus','.m4a']
# valid values examples: 50s, 5m, 1h, 2d, 2w, or 300 (interpreted as seconds)
SCANNER_REFRESH_INTERVAL = '5m'
# Patterns defined in this list describe how musics are organized on filesystem.
# If all your music files are well tagged, this options can be disabled (None or []).
# First matching pattern is used.
# re group names (?P<name>...) must be used for title, album, and artist detection (see example below).
#
# e.g.
# [ '/(?P<artist>[^/]+?)/(?P<album>[^/]+?)/(CD[^/]+?)/(?P<title>[^/]+?)\..{3,4}$',
#   '/(?P<artist>[^/]+?)/(?P<album>[^/]+?)/(?P<title>[^/]+?)\..{3,4}$' ]
#
# -> '/MyArtist/MyAlbum/CD1/track.mp3' will match the first pattern
# -> '/MyArtist/MyAlbum/track.mp3' will match the second pattern
#
# None or empty list will disable "By Folder" view.
# re groups 'artist', 'album' and 'title' are mandatory.
# re groups 'year' and  'trackno' are optionnal
# See https://docs.python.org/3/library/re.html for details about re module
SCANNER_FOLDER_PATTERNS = [
    '/(?P<artist>[^/]+?)/(?P<album>[^/]+?)/(CD[^/]+?)/(?P<title>[^/]+?)\..{3,4}$',
    '/(?P<artist>[^/]+?)/(?P<album>[^/]+?)/(?P<title>[^/]+?)\..{3,4}$'
]

## Covers
# Order matters (if first fetch method succeeds, the next ones will not be executed)
COVERS_FETCH = ['local', 'online']
# Check and fetch covers for albums that do not have covers yet
# This is intended for recent albums that could not have a cover on first scan,
# so a value inferior to 1w is not recommended
# valid values examples: 50s, 5m, 1h, 2d, 2w, or 300 (interpreted as seconds)
COVERS_FETCH_ONLINE_INTERVAL = '1w'  # The lowest possible value will be the one of SCANNER_REFRESH_INTERVAL

## SoundManager2
SM_URL = 'swf/'
SM_FLASH_VERSION = 9
SM_USE_FLASH_BLOCK = False
SM_USE_HTML_AUDIO = True
SM_PREFER_FLASH = False

## Other UI config
# Can either be 'tags' or 'folder'. 'tags' is the default value.
DEFAULT_TAGS_SOURCE = 'tags'