.player
  .controls
    a.control.play(title='Play', href='javascript:void(0);')
    a.control.prev(title='Previous track', href='javascript:void(0);')
    a.control.next(title='Next track', href='javascript:void(0);')
  .loader
    .info
      .elapsed-time 00:00
      span Waiting for a track
      .total-time 00:00
  .controls
    a.control.loop(title='Loop', href='javascript:void(0);')
    a.control.random(title='Random', href='javascript:void(0);')
    a.control.volume(title='Volume')
    .volume-wrapper