#player
  .controls
    a.control.play(title='Play', href='javascript:void(0);')
      span.btn.btn-lg.btn-default.glyphicon.glyphicon-play
    a.control.prev(title='Previous track', href='javascript:void(0);')
      span.btn.btn-lg.btn-default.glyphicon.glyphicon-step-backward
    a.control.next(title='Next track', href='javascript:void(0);')
      span.btn.btn-lg.btn-default.glyphicon.glyphicon-step-forward
  .loader
    .info
      span.elapsed-time 00:00
      span Waiting for a track
      span.total-time 00:00
    .progressbar
      input.hidden(data-slider-id='progress', data-slider-handle="slim", data-slider-min="0", data-slider-max="100", data-slider-step="1", data-slider-value="14")
  .controls
    a.control.loop(title='Loop', href='javascript:void(0);')
    a.control.random(title='Random', href='javascript:void(0);')
    a.control.volume(title='Volume')
    .volume-wrapper