<div id="player" class="ui-widget">
    <div id="controls">
        <a title="Play" class="play" id="play" href="javascript:void(0);"></a>
        <a title="Previous track" id="prev" href="javascript:void(0);"></a>
        <a title="Next track" id="next" href="javascript:void(0);"></a>
    </div>
    <div class="duration elapsed-time">00:00</div>
    <div id="loader">
        <div id="info" class="ui-corner-all"><span>Waiting for a track</span></div>
        <div id="bar">
        </div>
    </div>
    <div class="duration total-time">00:00</div>
    <div id="controls2">
        <a title="Loop" id="loop" href="javascript:void(0);" class="control"></a>
        <a title="Shuffle" id="shuffle" href="javascript:void(0);" class="control"></a>
        <div title="Volume" id="volume" class="control"></div>
		<div id="volume-wrapper">
            <div id="volume-max">
            </div>
        </div>
    </div>
</div>