@header-height: 82px;
@player-height: 48px;
@toolbar-height: calc(@header-height - @player-height);
@slider-height: 12px;
@queue-handle-width: 10px;
@player-background-color: #222;
@toolbar-background-color: lighten(@player-background-color, 20%);
@main-background-color: white;
@container-background-color: whitesmoke;

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: white;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
input[type=text] {
	padding: 0.3125em;
	border: none;
	border-bottom: 1px solid #2196f3;
	background-color: inherit;
	-webkit-transition: border-color 0.3s;
	transition: border-color 0.3s;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	font-weight: 400;
    border-bottom-color: rgba(255, 255, 255, 0.12);
}
input[type=text]:focus {
	border-bottom-width: 2px;
	padding-bottom: 0.25em;
	border-bottom-color: rgba(255, 255, 255, 0.6);
}
header {
    height: @header-height;
    box-sizing: border-box;
    color: white;
}
header .player {
    height: @player-height;
    box-sizing: border-box;
    display: flex;
    background-color: @player-background-color;
    border-color: #121212;
}
header .player .control {
    height: 38px;
    width: 48px;
    text-align: center;
    padding-top: 10px;
}
header .player .panel {
    height: 48px;
    flex: 1;
}
header .player .panel > .info-panel {
    width: 100%;
    height: 20px;
    display: flex;
    
    .name {
        flex: 1;
        text-align: center;
    }
}
header .player .slider-panel .slider {
    height: @slider-height;
    position: relative;
    background: none repeat scroll 0% 0% #F2F1F1;
    margin: 3px;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 0px 2px #D5D4D4 inset;
    
    .loading {
        position: absolute;
        left: 0;
        top: 0;
        height: @slider-height;
        background-color: #ccc;
        z-index: 0;
    }
    
    .progress {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: @slider-height;
        background: #239bd6;
        z-index: 1;
    }
    
    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: @slider-height;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }
}
header .toolbar {
    height: @toolbar-height;
    box-sizing: border-box;
    padding: 3px 5px;
    background-color: @toolbar-background-color;
    border-color: #121212;
}
#search {
    width: 200px;
}
main {
    background-color: @main-background-color;
    display: flex;
    flex: 1;
    position: absolute;
    top: @header-height;
    right: 0;
    bottom: 0;
    left: 0;
}
main .container {
    flex: 1;
    overflow: auto;
    background-color: @container-background-color;
}
main .container .artist {
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}
main .container .artist > h3,
main .container .album > h4 {
    display: inline-block;
    text-shadow: 0 0 5px white, 1px 1px 2px #666;
    cursor: default;
    margin: 5px 0;
}
main .container .album > h4 {
    width: 140px;
    white-space: normal;
}
main .container .artist > h3:hover,
main .container .album > h4:hover {
    text-shadow: 0 0 5px white, 1px 1px 2px #222;
}
main .container .artist > .controls,
main .container .album > .controls {
    display: inline-block;
    cursor: pointer;
    margin-left: -30px;
    opacity: 0;
    white-space: nowrap;
    transition: margin-left 0.3s ease-in, opacity 0.3s cubic-bezier(0, 0.9, 0.3, 1.15);
    
    .control {
        display: inline-block;
        padding-left: 10px;
    }
}
.controls .control:hover {
    color: red;
}
main .container .artist:hover > .controls,
main .container .album:hover > .controls {
    transition: margin-left 0.3s ease-out, opacity 0.3s cubic-bezier(0.7, 0, 0.7, 0);
    margin-left: 0;
    opacity: 1;
}
main .container .albums {
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
    align-items: flex-start;
}
main .container .albums .album {
    width: auto;
    padding: 10px;
    background-color: @container-background-color;
    margin: 10px 10px;
    border: 2px solid @container-background-color;
    transition: border 0.3s;
    box-sizing: border-box;
    
    &:hover {
        border: 2px solid darken(@container-background-color, 15%);
    }
}
main .container .albums .album .album-container {
    display: flex;
}
main .container .albums .album img {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
    max-height: 140px;
}
main .container .albums .album .album-container .tracks {
    flex: 1;
    width: auto;
    opacity: 1;
    transition: opacity 0.3s linear;
    padding: 10px;
    
    .track {
        margin: 1px 2px;
        display: flex;
        
        .trackno {
            font-weight: bold;
            margin-right: 5px;
            text-align: right;
        }
        
        .controls {
            display: inline-block;
            cursor: pointer;
            overflow: hidden;
            width: 40px;
            margin-left: 10px;
            
            .animate {
                display: inline-block;
                transition: margin-left 0.3s, opacity 0.3s cubic-bezier(0, 0.9, 0.3, 1.15);
                overflow: hidden;
                margin-left: -40px;
                opacity: 0;
            }
            
            .control {
                display: inline-block;
                margin: 0 3px;
            }
        }
        
        .name {
            flex: 1;
        }
        
        .duration {
        }
        
        &:hover {
            .animate {
                transition: opacity 0.3s cubic-bezier(0.7, 0, 0.7, 0);
                margin-left: 0;
                opacity: 1;
            }
        }
    }
    
    .track.active > span {
        font-weight: bold;
    }
}
main .container .albums .album.notracks {
    
    img {
        cursor: pointer;
    }
    
    h4 {
        cursor: pointer;
    }
    
    .album-container .tracks {
        width: 0;
        opacity: 0;
    }
}
main .queue .handle {
    width: @queue-handle-width;
    cursor: pointer;
    height: 100%;
    float: left;
    display: flex;
    background-color: @toolbar-background-color;
    transition: background-color 0.3s;
    color: white;
}
main .queue .handle:hover {
    background-color: lighten(@toolbar-background-color, 20%);
}
main .queue .handle .fa {
    margin: auto;
    transition: transform 0.3s;
}
main .queue.show .handle .fa {
    transform: rotate(180deg);
}
main .queue .tracks {
    display: inline-block;
    width: 0;
    transition: width 0.3s;
    height: 100%;
    overflow: auto;
}
main .queue.show .tracks {
    width: 300px;
}