body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
    height:100%;
    overflow: hidden;
    position: relative;
}

main {
    position: absolute;
    bottom: 0;
    top: 50px;
    width: 100%;
}

.container {
    height:100%;
}

.container-fluid {
    padding: 0;
}

.fill, .fill .wrapper {
    height:100%;
    padding: 0 5px;
}

.fill .search .list-group, .fill .playlists {
    position: absolute;
    overflow: auto;
    top: 40px;
    bottom: 1px;
    right: 0;
    left: 0;
    margin-bottom: 0;
}

.fill .wrapper {
    position: relative;
}

.fill .wrapper .wrapped {
    position: relative;
    height: 100%;
    width: 99%;
    overflow: auto;
}

.fill>.search{
    position: absolute;
    top: 40px;
    bottom: 5px;
}

.list-group-item {
    height: 38px;
    cursor: pointer;
}

.list-group-item:hover, .list-group-item:focus {
    background-color: #3E444C;
}

.dropdown-menu {
    min-width: 80px;
}

.dropdown-toggle {
    border-left: 1px solid #000000;
    background-color: #32383E;
    height: 37px;
    padding-top: 10px;
    right: -15px;
    text-align: center;
    top: -10px;
    width: 40px;
    float: right;
}

.dropdown-toggle a {
    color: #C8C8C8;
}

.list-inline > li {
    padding: 0;
}

li.album {
    width: 142px;
    margin-right: 15px;
}

li.album .thumb {
    height: 140px;
    display: inline-block;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin-bottom: -4px;
    background: url(/images/nocover.jpg) no-repeat;
}

li.album img {
    width: 139px;
    height: auto;
}

li.album .btn {
    width: 71px;
}

li.album .btn:last-child {
    border-top-right-radius: 0;
}

li.album .btn:first-child {
    border-top-left-radius: 0;
}

#player {
    position: relative;
}

#player .controls, #player .loader, #player .loader .info>span, #player .controls .control {
    display: inline-block;
}

#player .controls .control {
    width: 52px;
}

#player .loader {
    left: 180px;
    position: absolute;
    right: 180px;
    height: 100%;
    top: 0;
}

#player .loader .info {
    text-align: center;
    height: 21px;
}

#player .loader .progressbar {
    padding: 0 10px;
}

.slider.slider-horizontal {
    width: 100%;
}

@media (max-width: 991px) {
    #player .loader {
        left: 51px;
        right: 0;
    }
    
    #player .loader .progressbar {
        height: 30px;
    }
    
    #player .loader .info {
        top: 0;
        width: 100%;
    }
    
    #player .controls .next, #player .controls .prev {
        display: none;
    }
}

#player .loader .total-time {
    position: absolute;
    right: 5px;
}

#player .loader .elapsed-time {
    position: absolute;
    left: 5px;
}

.current.right {
    animation-duration: 0.5s;
    animation-name: slideright;
}

.current.left {
    animation-duration: 0.5s;
    animation-name: slideleft;
}

@keyframes slideright {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes slideleft {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}