body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html, body {
    height:100%;
    overflow: hidden;
    position: relative;
}

main {
    position: absolute;
    bottom: 0;
    top: 50px;
    width: 100%;
}

.panel-body, .container-fluid, .fill .wrapper {
    padding: 0;
}

.container, .fill, .fill .wrapper {
    height:100%;
}

.fill {
    padding: 0 15px;
}

.fill .search .list-group, .fill .playlists {
    position: absolute;
    overflow: auto;
    top: 40px;
    bottom: 1px;
    right: 0;
    left: 0;
    margin-bottom: 0;
}

.fill .wrapper {
    position: relative;
}

.fill .wrapper .wrapped {
    position: relative;
    height: 100%;
    width: 99%;
    overflow: auto;
}

.fill>.search{
    position: absolute;
    top: 40px;
    bottom: 5px;
}

.list-group-item {
    height: 38px;
    cursor: pointer;
}

.list-group-item:hover, .list-group-item:focus {
    background-color: #3E444C;
}

.dropdown-menu {
    min-width: 80px;
}

.dropdown-toggle {
    height: 38px;
    padding-top: 10px;
    right: -1px;
    text-align: center;
    top: -1px;
    width: 40px;
    position: absolute;
}

.open .dropdown-toggle.btn-default, .dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle.active {
    background-image: url(/images/festival.png);
    background-size: 600%;
    background-position: -113px -38px;
}

.list-group-item .dropdown-toggle {
    border-radius: 0;
}

.list-group-item:last-child .dropdown-toggle {
    border-bottom-right-radius: 4px;
}

.list-group-item:first-child .dropdown-toggle {
    border-top-right-radius: 4px;
}

.list-inline > li {
    padding: 0;
}

.albums .panel-body>ul {
    padding-left: 20px;
    list-style: none outside none;
}

li.album {
    width: 142px;
    margin-right: 15px;
}

li.album .thumb {
    height: 140px;
    display: inline-block;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin-bottom: -4px;
    background: url(/images/nocover.png) no-repeat;
}

li.album img {
    width: 139px;
    height: auto;
}

li.album .btn {
    width: 71px;
}

li.album .btn:last-child {
    border-top-right-radius: 0;
}

li.album .btn:first-child {
    border-top-left-radius: 0;
}

#player {
    position: relative;
}

#player .controls, #player .loader, #player .loader .info>span {
    display: inline-block;
}

#player .controls .control {
    width: 52px;
    height: 50px;
}

.volume-wrapper {
    width: 52px;
    min-width: 52px;
    height: 150px;
    top: 42px;
    padding: 16px;
    background-color: #272B2E;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
}

.volume-wrapper .slider-vertical {
    height: 100%;
}

#player .loader {
    left: 180px;
    position: absolute;
    right: 180px;
    height: 100%;
    top: 0;
}

#player .loader .info {
    text-align: center;
    height: 21px;
    padding: 0 50px;
}

#player .loader .progressbar {
    padding: 0 10px;
}

.slider.slider-horizontal {
    width: 100%;
}

@media (max-width: 767px) {
    #player .loader {
        left: 51px;
        right: 20px;
    }
    
    #player .loader .progressbar {
        height: 30px;
    }
    
    #player .loader .info {
        top: 0;
        width: 100%;
    }
}

#player .loader .total-time {
    position: absolute;
    right: 10px;
}

#player .loader .elapsed-time {
    position: absolute;
    left: 5px;
}

#player .controls .control {
    background-image: url(/images/festival.png);
}

#player .controls .showmore {
    background-image: none;
    position: relative;
    float: left;
    width: 20px;
}

#player .controls .showmore>span {
    display: inline-block;
    left: -4px;
    padding: 0;
    position: absolute;
    top: 13px;
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#player .controls .control.active {
    border: 1px solid #666666;
}

#player .controls .play {
    background-position: -2px -2px;
}

#player .controls .pause {
    background-position: -53px -2px;
}

#player .controls .prev {
    background-position: -105px -2px;
}

#player .controls .next {
    background-position: -157px -2px;
}

#player .controls .loop {
    background-position: -260px -2px;
}

#player .controls .shuffle {
    background-position: -209px -2px;
}

#player .controls .volume-max {
    background-position: -105px -54px;
}

#player .controls .volume-mid {
    background-position: -52px -54px;
}

#player .controls .volume-min {
    background-position: 1px -54px;
}

#player .controls .dropdown {
    float: right;
}

#player .info .name>span:not(:last-child):after {
    content: ' - ';
}

.track.playing:before {
    content: url("/images/headphone_music.png");
    float: left;
    margin-right: 10px;
    margin-top: -2px;
}

.current.right {
    animation-duration: 0.5s;
    animation-name: slideright;
}

.current.left {
    animation-duration: 0.5s;
    animation-name: slideleft;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.overlay .spinner {
    font-size: 10px;
    height: 60px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.overlay .spinner > div {
    background-color: rgb(102, 102, 102);
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 10px;
    margin: -30px 2px 0 2px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.overlay .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.overlay .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.overlay .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.overlay .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { 
    -webkit-transform: scaleY(0.4);
  } 20% {
    -webkit-transform: scaleY(1.0);
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@-webkit-keyframes slideright {
    from { left: -100%; }
    to { left: 0; }
}

@keyframes slideright {
    from { left: -100%; }
    to { left: 0; }
}

@-webkit-keyframes slideleft {
    from { left: 100%; }
    to { left: 0; }
}

@keyframes slideleft {
    from { left: 100%; }
    to { left: 0; }
}