$font-size: 14px;
$font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
$line-height: 1.2em;
$header-height: 82px;
$player-height: 48px;
$toolbar-height: $header-height - $player-height;
$header-slider-height: 14px;
$inline-control-height: 21px;
$art-width: 140px;
$art-width-mini: 20px;
$queue-width-max: 300px;

@mixin fill-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}