<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="static/stylesheets/animations.css">
    <script type='text/javascript' src='static/js/jquery.min.js'></script>
    <script type='text/javascript' src='static/js/vue.js'></script>
    <script type='text/javascript' src='static/js/vue-infinite-scroll.js'></script>
    <script type='text/javascript' src='static/js/buzz.js'></script>
    <script type='text/javascript' src='static/js/jquery.hotkeys.js'></script>
    <script type='text/javascript' src='static/js/jquery-bundle.min.js'></script>
    <!--<script type='text/javascript' src='static/js/ng-infinite-scroll.min.js'></script>-->
    <!--<script type='text/javascript' src='static/js/angular-lazy-img.js'></script>-->
    <!--<script type='text/javascript' src='static/js/angular-dropdowns.js'></script>-->
    <!--<script type='text/javascript' src='static/js/angular-directive.js'></script>-->
    <!--<script type='text/javascript' src='static/js/angular-filter.js'></script>-->
    <!--<script type='text/javascript' src='static/js/angular-controller.js'></script>-->
    <title>{{festival.currentTrack ? festival.currentTrack.name + " - " + festival.currentTrack.artist_name : "{[config.TITLE]}"}}</title>
  </head>
  <body>
    <noscript>
      <div>
        <span>
          Your browser does not support or blocks Javascript execution.<br>
          In order the be able to use this application, you must use a recent browser (like <a href="https://www.mozilla.org/en/firefox/new/" target="_blank">Firefox</a>), or enable Javascript in your current browser.
        </span>
      </div>
    </noscript>
    <header>
      <div v-cloak class="player" id="player">
        <a title="Previous track" href="#" @click="prev(true)" class="control prev">
          <i class="material-icons">skip_previous</i>
        </a>
        <a title="Play" href="#" @click="togglePlayPause()" class="control play">
          <i class="material-icons">{{festival.playing ? 'pause' : 'play_arrow'}}</i>
        </a>
        <a title="Next track" href="#" @click="next(true, true)" class="control next">
          <i class="material-icons">skip_next</i>
        </a>
        <div class="panel">
          <div class="info-panel">
            <span class="elapsed-time">{{progress | duration}}</span>
            <span v-if="festival.currentTrack" class="name">
              <span class="title" :class="{waiting: waitingbuf}">{{festival.currentTrack.name}}</span>
              <span class="artist">{{festival.currentTrack.artist_name}}</span>
              <span class="album">{{festival.currentTrack.album_name}}</span>
            </span>
            <span v-if="!festival.currentTrack" class="name">Waiting for a track</span>
            <span class="total-time">{{duration | duration}}</span>
          </div>
          <div class="slider-panel">
            <div class="slider">
              <input type="range" min="0" :max="duration" v-model="progress">
              <player-progress :progress-value="progressValue" :duration-value="duration"></player-progress>
              <player-loading :loading-value="buffer" :duration-value="duration" v-for="buffer in buffered"></player-loading>
            </div>
          </div>
        </div>
        <a :title="showind(loop, 'Loop (currently off)', 'Loop (currently on)', 'Loop current track')" href="#" @click="circleLoop()" :class="{active: loop > 0}" class="control loop">
          <i class="material-icons">{{loop == 2 ? 'repeat_one' : 'repeat'}}</i>
        </a>
        <a :title="shuffle?'Shuffle (currently on)':'Shuffle (currently off)'" href="#" @click="toggleShuffle()" :class="{active: shuffle}" class="control shuffle">
          <i class="material-icons">shuffle</i>
        </a>
      </div>
      <div v-cloak class="toolbar" id="toolbar">
        <div class="search" :class="{hide: displaymode != 'search'}">
          <form @submit.prevent="searchnow()">
            <label for="search" @click="searchnow()">
              <i class="material-icons">search</i>
            </label>
            <input id="search" type="text" placeholder="Search" v-model="value" @keyup="search()"><span class="filters"><span>in</span><span :class="{off: !checkboxFilter.artists}">
                <input id="sfartists" type="checkbox" v-model="checkboxFilter.artists">
                <label for="sfartists" class="checkbox"></label>
                <label for="sfartists">Artists</label></span><span :class="{off: !checkboxFilter.albums}">
                <input id="sfalbums" type="checkbox" v-model="checkboxFilter.albums">
                <label for="sfalbums" class="checkbox"></label>
                <label for="sfalbums">Albums</label></span><span :class="{off: !checkboxFilter.tracks}">
                <input id="sftracks" type="checkbox" v-model="checkboxFilter.tracks">
                <label for="sftracks" class="checkbox"></label>
                <label for="sftracks">Tracks</label></span></span>
          </form>
        </div>
        <div class="special-actions" v-show="displaymode != 'search'">
          <button class="tab" title="Search" @click="displaymode = 'search'"><i class="material-icons">search</i> search</button>
        </div>
        <div class="special-actions">
          <button class="tab" :class="{active: displaymode == 'lastalbums'}" title="Show last added albums" @click="lastalbums()"><i class="material-icons">sort</i> last albums</button>
        </div>
        <div class="volume leftseparated">
          <div class="slider">
            <input type="range" min="0" max="100" v-model="volume">
            <player-progress :progress-value="festival.volume" duration-value="100"></player-progress>
          </div>
          <a href="#" @click="toggleVolume()">
            <i class="material-icons">{{festival.volume >= 35 ? 'volume_up' : (festival.volume == 0 ? 'volume_off' : 'volume_down')}}</i>
          </a>
        </div>
        <div class="select-source">
          <div dropdown-select="types"
              dropdown-model="type"
              dropdown-onchange="typechanged(selected)"
              dropdown-default-value="{[config.DEFAULT_TAGS_SOURCE]}">
          </div>
        </div>
      </div>
    </header>
    <main>
      <div id="container" class="container" :class="{'show-albums': selectedArtist.id}" v-cloak>
        <div v-if="loading" class="spinner" id="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <infinite-scroll :infinite-scroll-callback="pageArtists" infinite-scroll-immediate-check="true" infinite-scroll-distance="2">
          <div v-show="!loading && artists.length == 0" class="noresult">No result matching the search criteria.</div>
          <div v-for="artist in artists" :key="artist.id" class="artist">
            <div class="artist-left">
              <div class="art-container">
                <img v-lazy="'artistart/'+artist.id" :alt="artist.name" src="static/images/nocover.png" ng-switch on="artist.loading">
                <div class="art-overlay" @click="toggleArtistSelection(artist); loadAlbumsAndTracks(artist, false)">
                  <div class="controls">
                    <div title="Play all albums" @click="empty();loadAlbumsAndTracksAndAdd(artist, true)" class="control animate">
                      <i class="material-icons">play_arrow</i>
                    </div>
                    <div title="Add albums to queue" @click="loadAlbumsAndTracksAndAdd(artist, false)" class="control animate">
                      <i class="material-icons">add</i>
                    </div>
                    {% if config.SHOW_DOWNLOAD_BUTTONS %}
                    <div title="Download all albums" @click="downloadArtist(artist)" class="control">
                      <i class="material-icons">file_download</i>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <span class="heading">
                <h3>{{artist.name ? artist.name : 'Unknown'}}</h3>
              </span>
            </div>
          </div>
        </infinite-scroll>
        <div class="albums">
          <div v-for="album in selectedArtist.albums" :key="album.id" class="album">
            <span class="heading">
              <h4 class="heading-title">
                {{album.name}}<span v-if="album.year" class="year">({{album.year}})</span>
              </h4>
              <span class="controls">
                <span title="Play tracks" @click="empty();loadTracksAndAdd(selectedArtist, album, true)" class="control animate">
                  <i class="material-icons">play_arrow</i>
                </span>
                <span title="Add tracks to queue" @click="loadTracksAndAdd(selectedArtist, album, false)" class="control animate">
                  <i class="material-icons">add</i>
                </span>
                {% if config.SHOW_DOWNLOAD_BUTTONS %}
                <span title="Download album" @click="downloadAlbum(album)" class="control">
                  <i class="material-icons">file_download</i>
                </span>
                {% endif %}
              </span>
            </span>
            <div class="album-container"><img @click="toggleTracks(selectedArtist, album)" v-lazy="'albumart/'+album.id" :alt="album.name" src="static/images/nocover.png">
              <div class="tracks">
                <div v-for="track in album.tracks" :class="{active: festival.currentTrack && festival.currentTrack.id == track.id, playing: festival.currentTrack && festival.currentTrack.id == track.id && festival.playing}" class="track">
                  <span v-if="track.trackno" class="trackno">
                    <ul class="audioeffect">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul>
                    <span>{{track.trackno}}</span>
                  </span>
                  <span :title="track.name" class="name">{{track.name}}</span>
                  <span class="controls">
                    <span title="Play" @click="playOrPause(track, album.tracks)" class="control animate">
                      <i class="material-icons">{{festival.currentTrack && festival.currentTrack.id == track.id && festival.playing ? 'pause' : 'play_arrow'}}</i>
                    </span>
                    <span title="Add to queue" @click="add(track)" class="control animate">
                      <i class="material-icons">add</i>
                    </span>
                    {% if config.SHOW_DOWNLOAD_BUTTONS %}
                    <span title="Download album" @click="downloadTrack(track)" class="control">
                      <i class="material-icons">file_download</i>
                    </span>
                    {% endif %}
                  </span>
                  <span class="duration">{{track.duration | duration}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div :class="{show: show}" class="queue" id="queue">
        <div @click="show = !show" class="handle" :title="show ? 'Hide playlist' : 'Show playlist'">
          <span class="vertical-playlist-text"> PLAYLIST </span>
          <i class="material-icons">chevron_left</i>
        </div>
        <div class="queue-content">
          <div class="tracks">
            <div v-for="track in tracks" :key="track.id" :class="{active: festival.currentTrack && festival.currentTrack == track, failed: track.failed, playing: festival.currentTrack && festival.currentTrack.id == track.id && festival.playing}" class="track">
              <span v-if="track.trackno" class="trackno">
                <ul class="audioeffect">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <span>{{track.trackno}}</span>
              </span>
              <span :title="'Track: '+track.name+' Album: '+track.album_name+' Artist: '+track.artist_name" class="name">{{track.name}}</span>
              <span class="controls">
                <span title="Play" @click="playOrPause(track)" class="control">
                  <i class="material-icons">{{festival.currentTrack && festival.currentTrack.id == track.id && festival.playing ? 'pause' : 'play_arrow'}}</i>
                </span>
                <span title="Remove" @click="remove(track)" class="control">
                  <i class="material-icons">clear</i>
                </span>
              </span>
              <span class="duration">{{track.duration | duration}}</span>
            </div>
          </div>
          <div class="queue-actions" v-show="tracks.length">
            <button type="button" @click="empty()">Clear playlist</button>
          </div>
        </div>
      </div>
    </main>
    <script type='text/javascript' src='static/js/services.js'></script>
    <script type='text/javascript' src='static/js/vue-components.js'></script>
    <script type='text/javascript' src='static/js/vue-init.js'></script>
  </body>
</html>