<div class="player"><a title="Previous track" href="#" ng-click="prev(true)" class="control prev"><i class="fa fa-backward fa-2x"></i></a><a title="Play" href="#" ng-click="togglePlayPause()" class="control play"><i ng-class="{'fa-play': !playing, 'fa-pause': playing}" class="fa fa-2x"></i></a><a title="Next track" href="#" ng-click="next(true, true)" class="control next"><i class="fa fa-forward fa-2x"></i></a>
  <div class="panel">
    <div class="info-panel"><span class="elapsed-time">{{progress() | duration}}</span><span ng-if="currentTrack" class="name"><span class="title">{{currentTrack.name}}</span><span class="artist">{{currentTrack.artist}}</span><span class="album">{{currentTrack.album}}</span></span><span ng-if="!currentTrack" class="name">Waiting for a track</span><span class="total-time">{{duration | duration}}</span>
    </div>
    <div class="slider-panel">
      <div class="slider">
        <input type="range" ng-model-options="{ getterSetter: true }"/>
        <div ng-progress="progress()" ng-progress-duration="duration" class="progress"></div>
        <div ng-loading="buffer" ng-loading-duration="duration" ng-repeat="buffer in buffered" class="loading"></div>
      </div>
    </div>
  </div><a title="{{showind(loop, 'Loop (currently off)', 'Loop (currently on)', 'Loop current track')}}" href="#" ng-click="circleLoop()" ng-class="{active: loop > 0}" class="control loop"><i class="fa fa-repeat fa-2x"></i><span ng-show="loop == 2">1</span></a><a title="{{shuffle?'Shuffle (currently on)':'Shuffle (currently off)'}}" href="#" ng-click="toggleShuffle()" ng-class="{active: shuffle}" class="control shuffle"><i class="fa fa-random fa-2x"></i></a>
</div>