.player
  a.control.prev(title='Previous track', href='#', ng-click="prev(true)")
    i.fa.fa-backward.fa-2x
  a.control.play(title='Play', href='#', ng-click="togglePlayPause()")
    i.fa.fa-2x(ng-class="{'fa-play': !playing, 'fa-pause': playing}")
  a.control.next(title='Next track', href='#', ng-click="next(true, true)")
    i.fa.fa-forward.fa-2x
  .panel
    .info-panel
      span.elapsed-time {{progress() | duration}}
      span.name(ng-if="currentTrack")
        span.title {{currentTrack.name}}
        span.artist {{currentTrack.artist}}
        span.album {{currentTrack.album}}
      span.name(ng-if="!currentTrack")  Waiting for a track
      span.total-time {{duration | duration}}
    .slider-panel
      .slider
        input(type="range" min="0" max="{{duration}}" ng-model="progress", ng-model-options="{ getterSetter: true }")
        .progress(ng-progress="progress()", ng-progress-duration="duration")
        .loading(ng-loading="buffer", ng-loading-duration="duration", ng-repeat="buffer in buffered")
  a.control.loop(title="{{showind(loop, 'Loop (currently off)', 'Loop (currently on)', 'Loop current track')}}", href='#', ng-click="circleLoop()", ng-class="{active: loop > 0}")
    i.fa.fa-repeat.fa-2x
    span(ng-show="loop == 2") 1
  a.control.shuffle(title="{{shuffle?'Shuffle (currently on)':'Shuffle (currently off)'}}", href='#', ng-click="toggleShuffle()", ng-class="{active: shuffle}")
    i.fa.fa-random.fa-2x